<!--This form has been copied from code pen https://codepen.io/Ihor_Sukhorada/pen/LBwRvv/-->
<div class="d-flex justify-content-center">

  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Welcome Back!</h3>
      <div class="card-text">      
        <form #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm)">            
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="email"
              class="form-control form-control-sm"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              ngModel
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <a href="#" style="float: right; font-size: 12px;"
              >Forgot password?</a
            >
            <input
              type="password"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
              ngModel
              name="password"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!loginForm.valid"
          >
            Sign in
          </button>

          <div class="sign-up">
            Don't have an account? <a href="#">Create One</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
