<div class="row" *ngIf="dashboard">    
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Products</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard.totalNumOfProducts}}</div>
            </div>     
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Products You Inserted</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard.numOfProductByUser}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Products By Category</h6>         
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <canvas id="categoryWiseProducts" 
              style="display: block; width: 1037px; height: 320px;" width="1037" height="320" class="chartjs-render-monitor">
              {{barChart}}
            </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>