<div class="row">
  <div class="col mr-auto mb-2">
    <button [routerLink]="['/products',0,'edit']" class="btn btn-primary float-right" style="size:80px">Add Product</button>
  </div>
</div>

<div class="row">
  <div class="col">

    <table
    class="table table-border table-striped"
    aria-labelledby="tableLabel"
    *ngIf="products && products.length"
    >
    <thead>
      <tr>
        
        <th>Product Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
    
        <td>{{ product.productName }}</td>
        <td>{{product.categoryName}}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.unitPrice }}</td>
        <td>
          <a [routerLink]="['/products', product.productId, 'edit']" style="font-size: 15px; color: dodgerblue;">
            <i class="fa fa-2x fa-edit"></i
          ></a>
        </td>
      </tr>
    </tbody>
    </table>
    
  </div>
</div>