

<div class="card" > 
  <div class="card-header">
    <h5 class="card-title">Product List</h5>
</div>
<div class="card-body">
  

  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
    
        <td>{{ product.productName }}</td>
        <td>{{product.categoryName}}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.unitPrice }}</td>
        <td>
          <a [routerLink]="['/products', product.productId, 'edit']" style="font-size: 15px; color: dodgerblue;">
            <i class="fa fa-edit"></i>            
          </a>
        </td>
      </tr>
    </tbody>
  </table>  
  <a [routerLink]="['/products', 0, 'edit']" class="btn btn-primary">Add Product</a>
</div>


<div class="card-footer">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
</div>



<!-- <div class="row">
  <div class="col">

    <table
    class="table table-border table-striped"
    aria-labelledby="tableLabel"
    *ngIf="products && products.length"
    >
    <thead>
      <tr>
        
        <th>Product Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
    
        <td>{{ product.productName }}</td>
        <td>{{product.categoryName}}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.unitPrice }}</td>
        <td>
          <a [routerLink]="['/products', product.productId, 'edit']" style="font-size: 15px; color: dodgerblue;">
            <i class="fa fa-2x fa-edit"></i
          ></a>
        </td>
      </tr>
    </tbody>
    </table>
    
  </div>
</div> -->